<header>
    <div class="header-bottom header-sticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-xl-2 col-lg-2">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/logo/logo-seso-sm.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10">
                    <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="about.html">Qui sommes-nous ?</a>
                                        <ul class="submenu">
                                            <li><a href="service-ssg.html">Missions</a></li>
                                            <li><a href="service-adpi.html">Historique</a></li>
                                            <li><a href="service-ttmena.html">Philosophie</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Nos services</a>
                                        <ul class="submenu">
                                            <li><a href="service-ssg.html">Service Social Général</a></li>
                                            <li><a href="service-adpi.html">Accueil DPI (convention Ciré-Fédasil)</a>
                                            </li>
                                            <li><a href="service-ttmena.html">Tutelles MENA</a></li>
                                            <li><a href="service-reab.html">Retour volontaire (REAB)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="program.html">Nos projets</a>
                                        <ul class="submenu">
                                            <li><a href="events.html">Culture</a></li>
                                            <li><a href="service-adpi.html">Logement</a></li>
                                            <li><a href="service-ttmena.html">Communautaire</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="partenaires.html">Nos partenaires</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->

                        <!-- THIS IS WHERE THE TOP DONATE BUTTON USED TO BE NEXT TO THE MAIN NAVIGATION BAR-->

                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</header>