<div class="header-area">
    <div class="main-header ">
        <div class="header-top d-none d-lg-block">
            <div class="container-fluid">
                <div class="col-xl-12">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="header-info-left d-flex">
                            <ul>
                                <li>02 533 39 84</li>
                                <li>info@seso.be</li>
                            </ul>
                            <div class="header-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/SETM.asbl"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-info-right d-flex align-items-center">
                            <div class="select-this">
                                <form action="#">
                                    <div class="select-itms">
                                        <select class="lang-select" (change)="ChangeLang($event)" name="select"
                                            id="select1">
                                            <option value="fr">FR</option>
                                            <option value="nl">NL</option>
                                            <option value="en">EN</option>
                                            <option value="es">ES</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>