
<app-top-nav-bar></app-top-nav-bar>
<app-bottom-nav-bar></app-bottom-nav-bar>

<main>
  <!-- slider Area Start-->
  <div class="slider-area"> 
      <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
              <div class="container">
                  <div class="column">
                      <div class="col-xl-12 col-lg-6 col-md-8 col-sm-10">
                          <div class="hero__caption">
                               <h1 data-animation="fadeInUp" data-delay=".6s"> Solidaires pour un Avenir Meilleur </h1>
                             <!-- <P data-animation="fadeInUp" data-delay=".8s" >Onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</P> -->
                              
                             <!-- Hero-btn -->

                          <!-- SECOND DONATE BUTTON -->
                          
                          </div>
                      </div>
                  </div>
              </div>
          </div> 
          <!-- Single Slider REMOVED-->       
      </div>
  </div>
  <!-- slider Area End-->
  <!--? Services Area Start -->
  
    <div class="service-area section-padding30">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                  <!-- Section Tittle -->
                  <div class="section-tittle text-center mb-80">
                      <span>Nos services</span>
                      <h2>assistance humanitaire aux populations vulnérables</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single-cat text-center mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-null-1"></span>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Service Social Général</a></h5>
                          <p>Notre Service Social Général offre une aide sociale généraliste de première ligne aux personnes en difficulté.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single-cat text-center mb-50">
                      <div class="cat-icon center">
                          <span class="flaticon-think"></span>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Accueil DPI (convention Ciré-Fédasil)</a></h5>
                          <p>SESO a mis en place une structure d'accueil destinée aux demandeurs d'asile, dans le cadre d'une convention conclue avec Fedasil.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single-cat text-center mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-gear"></span>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Tutelles MENA</a></h5>
                          <p>Ce service s'occupe de la situation des Mineurs Etrangers Non Accompagnés (Mena).</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="single-cat text-center mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-briefcase"></span>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Retour volontaire (REAB)</a></h5>
                          <p>Notre Service Social travaille en partenariat avec l'OIM et aide son public à ouvrir un dossier de retour.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Services Area End -->
  <!--? About Law Start-->
  <section class="about-low-area section-padding2">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-10">
                  <div class="about-caption mb-50">
                      <!-- Section Tittle -->
                      <div class="section-tittle mb-35">
                          <span>Qui sommes-nous ?</span>
                          <h2>Contre les inégalités sociales et les discriminations.</h2>
                      </div>
                      <p>
                          Le SESO est une organisation belge qui lutte contre les inégalités sociales et les discriminations. Nous sommes convaincus que chacun a le droit de vivre dans une société juste et équitable, et nous travaillons pour rendre cela possible.
                          <p>Nous nous concentrons sur trois domaines principaux :</p>
                        <ul>
                          <li><p><b>Lutter contre les violences conjugales et intrafamiliales.</b> Nous soutenons les victimes, sensibilisons le public et travaillons à la prévention de ces violences.</p></li>
                          <li><p><b>Promouvoir l'inclusion des personnes migrantes et réfugiées.</b> Nous luttons contre les préjugés et les discriminations, et nous travaillons à favoriser l'intégration des personnes migrantes et réfugiées dans la société belge.</p></li>
                          <li><p><b>Promouvoir la participation citoyenne.</b> Nous encourageons les citoyens à s'impliquer dans la vie démocratique et à faire entendre leur voix.</p></li>
                        </ul>
                      <p>Le SESO est une organisation pluraliste et indépendante. Nous sommes financés par des fonds publics et privés, et nous comptons plus de 200 membres associatifs.
                          
                          Notre équipe est composée de professionnels qualifiés et passionnés. Nous travaillons en étroite collaboration avec les pouvoirs publics, les associations et les citoyens pour construire une société plus juste et plus équitable.
                          
                          Ensemble, nous pouvons faire la différence !</p>
                  </div>
                  <a href="about.html" class="btn">En savoir plus</a>
              </div>
              <div class="col-lg-6 col-md-12">
                  <!-- about-img -->
                  <div class="about-img ">
                          <img src="assets/img/gallery/about-brussels-seso-sm.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
  </section>

  <!-- Our Cases End -->
  <!-- Featured_job_start -->
  <section class="featured-job-area section-padding30 section-bg2" data-background="src/assets/img/gallery/section_bg03.png">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                  <!-- Section Tittle -->
                  <div class="section-tittle text-center mb-80">
                      <span>What we are boing</span>
                      <h2>We arrange many social events for charity donations</h2>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-9 col-md-12">
                  <!-- single-job-content -->
                  <div class="single-job-items mb-30">
                      <div class="job-items">
                          <div class="company-img">
                              <a href="#"><img src="src/assets/img/gallery/socialEvents1.png" alt=""></a>
                          </div>
                          <div class="job-tittle">
                              <a href="#"><h4>Donation is Hope</h4></a>
                              <ul>
                                  <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                  <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                  <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-12">
                  <!-- single-job-content -->
                  <div class="single-job-items mb-30">
                      <div class="job-items">
                          <div class="company-img">
                              <a href="#"><img src="src/assets/img/gallery/socialEvents2.png" alt=""></a>
                          </div>
                          <div class="job-tittle">
                              <a href="#"><h4>A hand for Children</h4></a>
                              <ul>
                                  <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                  <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                  <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-12">
                  <!-- single-job-content -->
                  <div class="single-job-items mb-30">
                      <div class="job-items">
                          <div class="company-img">
                              <a href="#"><img src="src/assets/img/gallery/socialEvents3.png" alt=""></a>
                          </div>
                          <div class="job-tittle">
                              <a href="#"><h4>Help for Children</h4></a>
                              <ul>
                                  <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                  <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                  <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Featured_job_end -->
  <!--? Team Ara Start -->
  <div class="team-area pt-160 pb-160">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                  <!-- Section Tittle -->
                  <div class="section-tittle section-tittle2 text-center mb-70">
                      <span>What we are doing</span>
                      <h2>Our Expert Volunteer Alwyes ready</h2>
                  </div> 
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="src/assets/img/gallery/team1.png" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Bruce Roberts</a></h3>
                          <p>Volunteer leader</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="src/assets/img/gallery/team2.png" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Robart Rechard</a></h3>
                          <p>Volunteer leader</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="src/assets/img/gallery/team3.png" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Brendon Tailor</a></h3>
                          <p>Volunteer leader</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="src/assets/img/gallery/team4.png" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Walshr Hasgt</a></h3>
                          <p>Volunteer leader</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team Ara End -->
  <!-- Want To work -->
  <section class="wantToWork-area ">
      <div class="container">
          <div class="wants-wrapper w-padding2  section-bg" data-background="src/assets/img/gallery/section_bg01.png">
              <div class="row align-items-center justify-content-between">
                  <div class="col-xl-5 col-lg-9 col-md-8">
                      <div class="wantToWork-caption wantToWork-caption2">
                          <h2>Lets Chenge The World With Humanity</h2>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-4">
                      <a href="#" class="btn white-btn f-right sm-left">Become A Volunteer</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Want To work End -->
  <!--? Testimonial Start -->
  <div class="testimonial-area testimonial-padding">
      <div class="container">
          <!-- Testimonial contents -->
          <div class="row d-flex justify-content-center">
              <div class="col-xl-8 col-lg-8 col-md-10">
                  <div class="h1-testimonial-active dot-style">
                      <!-- Single Testimonial -->
                      <div class="single-testimonial text-center">
                          <div class="testimonial-caption ">
                              <!-- founder -->
                              <div class="testimonial-founder">
                                  <div class="founder-img mb-40">
                                      <img src="src/assets/img/gallery/testimonial.png" alt="">
                                      <span>Margaret Lawson</span>
                                      <p>Creative Director</p>
                                  </div>
                              </div>
                              <div class="testimonial-top-cap">
                                  <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                              </div>
                          </div>
                      </div>
                      <!-- Single Testimonial -->
                      <div class="single-testimonial text-center">
                          <div class="testimonial-caption ">
                              <!-- founder -->
                              <div class="testimonial-founder">
                                  <div class="founder-img mb-40">
                                      <img src="src/assets/img/gallery/testimonial.png" alt="">
                                      <span>Margaret Lawson</span>
                                      <p>Creative Director</p>
                                  </div>
                              </div>
                              <div class="testimonial-top-cap">
                                  <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                              </div>
                          </div>
                      </div>
                      <!-- Single Testimonial -->
                      <div class="single-testimonial text-center">
                          <div class="testimonial-caption ">
                              <!-- founder -->
                              <div class="testimonial-founder">
                                  <div class="founder-img mb-40">
                                      <img src="src/assets/img/gallery/testimonial.png" alt="">
                                      <span>Margaret Lawson</span>
                                      <p>Creative Director</p>
                                  </div>
                              </div>
                              <div class="testimonial-top-cap">
                                  <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Testimonial End -->
  <!--? Blog Area Start -->
  <section class="home-blog-area section-padding30">
      <div class="container">
          <!-- Section Tittle -->
          <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
                  <div class="section-tittle text-center mb-90">
                      <span>Our recent blog</span>
                      <h2>Latest News from our recent blog</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="home-blog-single mb-30">
                      <div class="blog-img-cap">
                          <div class="blog-img">
                              <img src="src/assets/img/gallery/home-blog1.png" alt="">
                              <!-- Blog date -->
                              <div class="blog-date text-center">
                                  <span>24</span>
                                  <p>Now</p>
                              </div>
                          </div>
                          <div class="blog-cap">
                              <p>Creative derector</p>
                              <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="home-blog-single mb-30">
                      <div class="blog-img-cap">
                          <div class="blog-img">
                              <img src="src/assets/img/gallery/home-blog2.png" alt="">
                              <!-- Blog date -->
                              <div class="blog-date text-center">
                                  <span>24</span>
                                  <p>Now</p>
                              </div>
                          </div>
                          <div class="blog-cap">
                              <p>Creative derector</p>
                              <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Blog Area End -->
  <!--? Count Down Start -->
  <div class="count-down-area pt-25 section-bg" data-background="src/assets/img/gallery/section_bg02.png">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12">
                  <div class="count-down-wrapper" >
                      <div class="row justify-content-between">
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <!-- Counter Up -->
                              <div class="single-counter text-center">
                                  <span class="counter color-green">6,200</span>
                                  <span class="plus">+</span>
                                  <p class="color-green">Donation</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <!-- Counter Up -->
                              <div class="single-counter text-center">
                                  <span class="counter color-green">80</span>
                                  <span class="plus">+</span>
                                  <p class="color-green">Fund Raised</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <!-- Counter Up -->
                              <div class="single-counter text-center">
                                  <span class="counter color-green">256</span>
                                  <span class="plus">+</span>
                                  <p class="color-green">Donation</p>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <!-- Counter Up -->
                              <div class="single-counter text-center">
                                  <span class="counter color-green">256</span>
                                  <span class="plus">+</span>
                                  <p class="color-green">Donation</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Count Down End -->
  </main>